.con1{
    background-color: #F5F5F5;
    width: 805px;
    height: 255px;
    position: absolute;
    left: 353px;
    top: 227px;
    border-radius: 15px;
}
.con2{
    background-color: #F5F5F5;
    width: 805px;
    height: 578px;
    position: absolute;
    left: 353px;
    top: 530px;
    border-radius: 15px;
    margin-bottom: 200px;

}
.con3{
    background-color: #F5F5F5;
    width: 805px;
    height: 255px;
    position: absolute;
    left: 353px;
    top: 1200px;
    border-radius: 15px;
    margin-bottom: 200px;

}